In [1]:
import pandas as pd

先確保每個欄位都沒有奇怪data

In [ ]:
space_list = []
action_list = []

In [13]:
new_df_1 = pd.read_excel('Data\攻守統計資料更新_來回標記0305\IRI VS POL.xlsx', sheet_name = 'IRI Set5')
new_df_1 = new_df_1.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'])

In [15]:
new_df_1 = new_df_1.dropna(how='all')

In [22]:
new_df_1.groupby('Errors').count()

        Is_blue_space  No.  Space  Action  Attempts  Score
Errors
1.0                 0   15     15      15         0      0
15.0                0    0      0       0         0      1