In [545]:
import pandas as pd
import numpy as np

先確保每個欄位都沒有奇怪data

1. 先手動刪除除了這七個之外的欄位的資料
2. 檢查每個欄位的值是否都在domain裡面
    * space: 1, 2, 3, 4, 5, 6, 7, 8, 9, FZ, L, M, Y
    * action: JS, SS, FS, R, G, A, B, D, OP(對方問題)

In [546]:
df_IRI = pd.read_excel('Data\IRI VS POL.xlsx', sheet_name = 'IRI Set1')
df_IRI = df_IRI.dropna(how='all')
df_IRI.insert(1, 'Team', 'IRI')
df_IRI.insert(2, 'Rally', np.nan)
df_IRI.tail()

     Is_blue_space Team  Rally   No. Space Action  Errors  Attempts  Score
173            NaN  IRI    NaN   NaN   NaN     OP     NaN       NaN    1.0
174            NaN  IRI    NaN  22.0     Y     JS     NaN       NaN    NaN
175            0.0  IRI    NaN   NaN   NaN    NaN     NaN       NaN    NaN
176            NaN  IRI    NaN  22.0     5      D     1.0       NaN    NaN
177            0.0  IRI    NaN   NaN   NaN    NaN     NaN       NaN    NaN

In [547]:
df_POL = pd.read_excel('Data\IRI VS POL.xlsx', sheet_name = 'POL Set1')
df_POL = df_POL.dropna(how='all')
df_POL.insert(1, 'Team', 'POL')
df_POL.insert(2, 'Rally', np.nan)
df_POL.tail()

     Is_blue_space Team  Rally  No. Space Action  Errors  Attempts  Score
176            1.0  POL    NaN  NaN   NaN    NaN     NaN       NaN    NaN
177            NaN  POL    NaN   17     8      R     NaN       1.0    NaN
178            NaN  POL    NaN   19     2      G     NaN       1.0    NaN
179            NaN  POL    NaN   16     2      A     NaN       NaN    1.0
180            0.0  POL    NaN  NaN   NaN    NaN     NaN       NaN    NaN

合併兩個dataset
* df_1: 發球方
* df_2: 另一方
* i, j 分別代表兩邊目前的指標(?
---
要加入的欄位：rally_num, team

In [548]:
def get_rally_sequence(df_1, df_2, i, j, rally):
    df_combine = pd.DataFrame(columns=df_1.columns)
    # 發球方發球
    df_combine = df_combine.append(df_1.iloc[i])
    i += 1
    alternate = 1
    while(i < len(df_1)-1 and j < len(df_2)-1):
        if(alternate == 0): # df_1
            if(not pd.isna(df_1.iloc[i]['Is_blue_space'])):
                i += 1
            df_combine = df_combine.append(df_1.iloc[i])
            i += 1
            while(pd.isna(df_1.iloc[i]['Is_blue_space']) and 'S' not in str(df_1.iloc[i]['Action'])): # 遇到空格或再次發球前
                
                df_combine = df_combine.append(df_1.iloc[i])
                i += 1
                if(i >= len(df_1)-1):
                    break

            # 因為空格而停止
            if(not pd.isna(df_1.iloc[i]['Is_blue_space'])):
                alternate = 1
                continue

            # 因為再次發球而停止
            if('S' in df_1.iloc[i]['Action']):
                # 先確認另一隊在藍色空格之前的state是否全部記錄到
                while(df_2.iloc[j]['Is_blue_space'] != 1 and j < len(df_2)):
                    if(df_2.iloc[j]['Is_blue_space'] != 0):
                        df_combine = df_combine.append(df_2.iloc[j])
                    j += 1
                break

        elif(alternate == 1):   # df_2
            if(not pd.isna(df_2.iloc[j]['Is_blue_space'])):
                j += 1
            df_combine = df_combine.append(df_2.iloc[j])
            j += 1
            while(pd.isna(df_2.iloc[j]['Is_blue_space']) and 'S' not in df_2.iloc[j]['Action']): # 遇到空格或再次發球前
                
                df_combine = df_combine.append(df_2.iloc[j])
                j += 1
                if(j >= len(df_2)-1):
                    break

            if(not pd.isna(df_2.iloc[j]['Is_blue_space'])): # is space
                alternate = 0
                continue
            
            if('S' in df_2.iloc[j]['Action']):  # 再次發球 -> 下一round
                # 先確認另一隊在藍色空格之前的state是否全部記錄到
                while(df_1.iloc[i]['Is_blue_space'] != 1 and i < len(df_1)):
                    if(df_1.iloc[i]['Is_blue_space'] != 0):
                        df_combine = df_combine.append(df_1.iloc[i])
                    i += 1
                break
    if(i == len(df_1)-1):
        while(j < len(df_2)-1):
            df_combine = df_combine.append(df_2.iloc[j])
            j += 1
    if(j == len(df_2)-1):
        while(i < len(df_1)-1):
            df_combine = df_combine.append(df_1.iloc[i])
            i += 1

    df_combine['Rally'] = rally
    return df_combine, i, j

In [549]:
df_total_game = pd.DataFrame(columns=df_IRI.columns)

In [550]:
i = 0
j = 0
rally_num = 0
while(i < len(df_IRI)-1 or j < len(df_POL)-1):
    rally_num += 1
    print(i, j)
    if(df_IRI.iloc[i]['Is_blue_space'] == 1):   # 對方發球
        df_combine, j, i = get_rally_sequence(df_POL, df_IRI, j, i, rally_num)
    else:
        df_combine, i, j = get_rally_sequence(df_IRI, df_POL, i, j, rally_num)
    df_total_game = pd.concat([df_total_game, df_combine])
    
    print('\nrally: ' + str(rally_num))

0 0

rally: 1
3 4

rally: 2
6 8

rally: 3
12 13

rally: 4
21 22

rally: 5
24 28

rally: 6
25 30

rally: 7
29 33

rally: 8
31 34

rally: 9
35 42

rally: 10
39 45

rally: 11
40 47

rally: 12
44 50

rally: 13
49 58

rally: 14
53 60

rally: 15
57 63

rally: 16
61 66

rally: 17
68 75

rally: 18
71 77

rally: 19
78 83

rally: 20
81 87

rally: 21
86 92

rally: 22
99 100

rally: 23
104 106

rally: 24
105 108

rally: 25
107 109

rally: 26
110 113

rally: 27
114 116

rally: 28
122 125

rally: 29
124 126

rally: 30
127 130

rally: 31
134 135

rally: 32
138 138

rally: 33
141 142

rally: 34
149 152

rally: 35
151 153

rally: 36
152 155

rally: 37
154 157

rally: 38
160 160

rally: 39
162 162

rally: 40
165 168

rally: 41
169 171

rally: 42
172 175

rally: 43
174 176

rally: 44

In [551]:
df_total_game

     Is_blue_space Team Rally  No. Space Action  Errors  Attempts  Score
0              NaN  IRI     1    2     Y     JS     NaN       NaN    NaN
1              NaN  POL     1   14     8      R     NaN       NaN    NaN
2              NaN  POL     1   19     2      G     NaN       NaN    NaN
3              NaN  POL     1    6     3      A     1.0       NaN    NaN
2              NaN  IRI     1   22     1      B     NaN       NaN    1.0
..             ...  ...   ...  ...   ...    ...     ...       ...    ...
177            NaN  POL    44   17     8      R     NaN       1.0    NaN
178            NaN  POL    44   19     2      G     NaN       1.0    NaN
179            NaN  POL    44   16     2      A     NaN       NaN    1.0
175            0.0  IRI    44  NaN   NaN    NaN     NaN       NaN    NaN
176            NaN  IRI    44   22     5      D     1.0       NaN    NaN

[259 rows x 9 columns]

In [552]:
drop_list = []
for idx, row in df_total_game.iterrows():
    if(not pd.isna(row['Is_blue_space'])):
        drop_list.append(idx)

In [553]:
df_total_game = df_total_game.drop(index=drop_list)
df_total_game = df_total_game.reset_index(drop=True)

In [554]:
df_total_game = df_total_game.drop(columns='Is_blue_space')

In [555]:
df_total_game.to_csv('set1_test.csv', index=False)

---

* Action + Attempts 成為一個新的Action欄位 (足以區分是否好球)
* Team、space、action、No.轉成 one-hot encoding形式

In [556]:
for idx, row in df_total_game.iterrows():
    if(pd.isna(row['Attempts'])):
        df_total_game.loc[idx, 'Action'] = row['Action'] + '_0'
    else:
        df_total_game.loc[idx, 'Action'] = row['Action'] + '_1'
df_total_game = df_total_game.drop(columns='Attempts')

In [557]:
# pd.get_dummies(df_total_game, columns=['Team', 'No.', 'Space', 'Action'])

In [558]:
for d in df_total_game.groupby('Rally'):
    print(d)

(1,   Team Rally No. Space Action  Errors  Score
0  IRI     1   2     Y   JS_0     NaN    NaN
1  POL     1  14     8    R_0     NaN    NaN
2  POL     1  19     2    G_0     NaN    NaN
3  POL     1   6     3    A_0     1.0    NaN
4  IRI     1  22     1    B_0     NaN    1.0)
(2,   Team Rally No. Space Action  Errors  Score
5  IRI     2   2     Y   JS_0     NaN    NaN
6  POL     2  14     7    R_0     NaN    NaN
7  POL     2  19     1    G_0     NaN    NaN
8  POL     2   6     3    A_0     NaN    1.0
9  IRI     2   2     8    D_0     1.0    NaN)
(3,    Team Rally No. Space Action  Errors  Score
10  POL     3  15     Y   JS_0     NaN    NaN
11  IRI     3   8     8    R_0     NaN    NaN
12  IRI     3  18     2    G_0     NaN    NaN
13  IRI     3   5     2    A_0     NaN    NaN
14  POL     3  19     5    D_0     NaN    NaN
15  POL     3  14     4    G_0     NaN    NaN
16  POL     3  16     1    A_0     NaN    1.0
17  IRI     3  17     3    B_0     1.0    NaN)
(4,    Team Rally No. Space Action  Errors  Score
18  POL     4  15     Y   JS_0     NaN    NaN
19  IRI     4  22     7    R_0     NaN    NaN
20  IRI     4  18     5    G_0     NaN    NaN
21  IRI     4  22     1    A_0     NaN    NaN
22  POL     4  15     4    D_0     NaN    NaN
23  POL     4  19     5    G_0     NaN    NaN
24  POL     4  16     1    A_0     NaN    NaN
25  IRI     4  17     3    B_0     NaN    NaN
26  IRI     4   2    FZ    D_0     NaN    NaN
27  IRI     4  18     5    G_0     NaN    NaN
28  IRI     4  17     3    A_0     NaN    1.0
29  POL     4  16     1    B_0     NaN    NaN
30  POL     4  14     8    D_0     1.0    NaN)
(5,    Team Rally No. Space Action  Errors  Score
31  IRI     5   5     Y   JS_0     NaN    NaN
32  POL     5  14     7    R_1     NaN    NaN
33  POL     5  19     2    G_1     NaN    NaN
34  POL     5   6     3    A_0     NaN    NaN
35  IRI     5  22     1    B_0     NaN    1.0
36  POL     5  14     5    D_0     1.0    NaN)
(6,    Team Rally  No. Space Action  Errors  Score
37  IRI     6    5     Y   JS_0     1.0    NaN
38  POL     6  NaN   NaN   OP_0     NaN    1.0)
(7,    Team Rally  No. Space Action  Errors  Score
39  POL     7    6     Y   JS_0     NaN    NaN
40  IRI     7    2     8    R_0     NaN    NaN
41  IRI     7   19     1    G_0     NaN    NaN
42  IRI     7   17     3    A_0     1.0    NaN
43  POL     7  NaN   NaN   OP_0     NaN    1.0)
(8,    Team Rally  No. Space Action  Errors  Score
44  POL     8    6     Y   JS_0     1.0    NaN
45  IRI     8  NaN   NaN   OP_0     NaN    1.0)
(9,    Team Rally No. Space Action  Errors  Score
46  IRI     9  17     L   JS_0     NaN    NaN
47  POL     9  17     9    R_0     NaN    NaN
48  POL     9  19     5    G_0     NaN    NaN
49  POL     9  16     1    A_0     NaN    NaN
50  IRI     9   1     3    B_0     NaN    NaN
51  IRI     9  18     1    D_0     1.0    NaN
52  POL     9  14     1    D_0     NaN    NaN
53  POL     9  19     5    G_0     NaN    NaN
54  POL     9   6     3    A_0     NaN    1.0)
(10,    Team Rally No. Space Action  Errors  Score
55  POL    10  16     M   JS_0     NaN    NaN
56  IRI    10  22     7    R_0     NaN    NaN
57  IRI    10  18     6    G_0     NaN    NaN
58  IRI    10  17     3    A_0     NaN    1.0
59  POL    10   6     6    D_0     1.0    NaN)
(11,    Team Rally  No. Space Action  Errors  Score
60  IRI    11   22     Y   JS_0     1.0    NaN
61  POL    11  NaN   NaN   OP_0     NaN    1.0)
(12,    Team Rally No. Space Action  Errors  Score
62  POL    12  20     L   JS_0     NaN    NaN
63  IRI    12  22     6    R_0     NaN    NaN
64  IRI    12  18     2    G_0     NaN    NaN
65  IRI    12  17     3    A_0     NaN    1.0
66  POL    12  20     7    D_0     1.0    NaN)
(13,    Team Rally No. Space Action  Errors  Score
67  IRI    13   1     Y   FS_0     NaN    NaN
68  POL    13  16     4    R_1     NaN    NaN
69  POL    13  19     2    G_0     NaN    NaN
70  POL    13  15     2    A_0     NaN    NaN
71  IRI    13   5     2    B_0     NaN    NaN
72  POL    13  17     5    D_0     NaN    NaN
73  POL    13  19     1    G_0     NaN    NaN
74  POL    13  14     1    A_0     NaN    1.0
75  IRI    13  18     3    B_0     1.0    NaN)
(14,    Team Rally  No. Space Action  Errors  Score
76  POL    14   19     L   FS_0     NaN    NaN
77  IRI    14   22     5    R_1     NaN    NaN
78  IRI    14   18     2    G_1     NaN    NaN
79  IRI    14   22     2    A_0     1.0    NaN
80  POL    14  NaN   NaN   OP_0     NaN    1.0)
(15,    Team Rally No. Space Action  Errors  Score
81  POL    15  19     L   FS_0     NaN    NaN
82  IRI    15   8     5    R_1     NaN    NaN
83  IRI    15  18     2    G_0     NaN    NaN
84  IRI    15   5     2    A_0     1.0    NaN
85  POL    15  15     2    B_0     NaN    1.0)
(16,    Team Rally No. Space Action  Errors  Score
86  POL    16  19     L   FS_0     NaN    NaN
87  IRI    16  22     8    R_0     NaN    NaN
88  IRI    16  18     2    G_0     NaN    NaN
89  IRI    16   2     1    A_0     NaN    1.0
90  POL    16  16     8    D_0     1.0    NaN)
(17,     Team Rally No. Space Action  Errors  Score
91   IRI    17  18     M   FS_0     NaN    NaN
92   POL    17  16     5    R_0     NaN    NaN
93   POL    17  19     2    G_0     NaN    NaN
94   POL    17  14     3    A_0     NaN    NaN
95   IRI    17  22     8    D_0     NaN    NaN
96   IRI    17  18    FZ    D_0     NaN    NaN
97   IRI    17   2     1    A_0     NaN    NaN
98   POL    17  15     3    B_0     NaN    NaN
99   POL    17  16     8    D_0     NaN    NaN
100  POL    17  19     3    G_0     NaN    NaN
101  POL    17  16     2    A_0     NaN    1.0
102  IRI    17  17     2    B_0     1.0    NaN)
(18,     Team Rally  No. Space Action  Errors  Score
103  POL    18   14     L   JS_0     NaN    NaN
104  IRI    18    5     5    R_0     NaN    NaN
105  IRI    18    2     6    G_0     1.0    NaN
106  POL    18  NaN   NaN   OP_0     NaN    1.0)
(19,     Team Rally  No. Space Action  Errors  Score
107  POL    19   14     L   JS_0     NaN    NaN
108  IRI    19   17     4    R_0     NaN    NaN
109  IRI    19    1     2    G_0     NaN    NaN
110  IRI    19    2     3    A_0     NaN    NaN
111  POL    19   15     1    B_0     NaN    NaN
112  POL    19          8    D_0     NaN    NaN
113  POL    19   19     3    G_0     NaN    NaN
114  POL    19   16     1    A_0     1.0    NaN
115  IRI    19    2     3    B_0     NaN    NaN
116  IRI    19  NaN   NaN   OP_0     NaN    1.0)
(20,     Team Rally  No. Space Action  Errors  Score
117  IRI    20    2     Y   JS_0     NaN    NaN
118  POL    20   17     8    R_0     NaN    NaN
119  POL    20   19     6    G_0     NaN    NaN
120  POL    20   16     1    A_0     1.0    NaN
121  IRI    20  NaN   NaN   OP_0     NaN    1.0)
(21,     Team Rally  No. Space Action  Errors  Score
122  IRI    21    2     Y   JS_0     NaN    NaN
123  POL    21   16     7    R_0     NaN    NaN
124  POL    21   19     1    G_0     NaN    NaN
125  POL    21    6     3    A_0     NaN    NaN
126  POL    21  NaN   NaN   OP_0     NaN    1.0
127  IRI    21    2     8    D_0     NaN    NaN
128  IRI    21   17     3    G_0     NaN    NaN
129  IRI    21   22     1    A_0     1.0    NaN)
(22,     Team Rally No. Space Action  Errors  Score
130  POL    22  15     Y   JS_0     NaN    NaN
131  IRI    22   8     8    R_0     NaN    NaN
132  IRI    22  18     3    G_0     NaN    NaN
133  IRI    22  17     3    A_0     NaN    NaN
134  POL    22  16     1    B_0     NaN    NaN
135  POL    22  14     6    D_1     NaN    NaN
136  POL    22  19     2    G_0     NaN    NaN
137  POL    22  20     2    A_0     NaN    NaN
138  IRI    22  18     3    D_0     NaN    NaN
139  IRI    22  17    FZ    D_0     NaN    NaN
140  IRI    22  18     3    D_0     NaN    NaN
141  POL    22   6     1    B_0     1.0    NaN
142  IRI    22   5     2    B_0     NaN    NaN
143  IRI    22  18     5    D_0     NaN    NaN
144  IRI    22   2     5    G_0     NaN    NaN
145  IRI    22  17     3    A_0     NaN    1.0)
(23,     Team Rally No. Space Action  Errors  Score
146  IRI    23   5     Y   JS_0     NaN    NaN
147  POL    23  14     8    R_0     NaN    NaN
148  POL    23  19     2    G_0     NaN    NaN
149  POL    23  20     2    A_0     NaN    NaN
150  IRI    23  18     6    D_0     NaN    NaN
151  IRI    23   2     7    D_0     NaN    NaN
152  IRI    23  17     3    A_0     NaN    1.0
153  POL    23  20     1    B_0     1.0    NaN)
(24,     Team Rally  No. Space Action  Errors  Score
154  IRI    24    5     Y   JS_0     1.0    NaN
155  POL    24  NaN   NaN   OP_0     NaN    1.0)
(25,     Team Rally  No. Space Action  Errors  Score
156  POL    25    6    JS   JS_0     1.0    NaN
157  IRI    25  NaN   NaN   OP_0     NaN    1.0)
(26,     Team Rally No. Space Action  Errors  Score
158  IRI    26  17     L   JS_0     NaN    NaN
159  POL    26  16     7    R_0     NaN    NaN
160  POL    26  19     5    G_0     NaN    NaN
161  POL    26  16     1    A_0     NaN    1.0
162  IRI    26  18     3    B_0     1.0    NaN)
(27,     Team Rally No. Space Action  Errors  Score
163  POL    27  16     M   JS_0     NaN    NaN
164  IRI    27  22     7    R_0     NaN    NaN
165  IRI    27  18     1    G_1     NaN    NaN
166  IRI    27  17     3    A_0     NaN    1.0
167  POL    27  16     8    D_0     1.0    NaN)
(28,     Team Rally No. Space Action  Errors  Score
168  IRI    28  22     Y   JS_0     NaN    NaN
169  POL    28  17     8    R_0     NaN    NaN
170  POL    28  19     3    G_0     NaN    NaN
171  POL    28  20     2    A_0     NaN    NaN
172  IRI    28   1     1    B_0     NaN    NaN
173  IRI    28  22     8    D_0     NaN    NaN
174  IRI    28  18    FZ    G_0     NaN    NaN
175  IRI    28   2     1    D_0     NaN    NaN
176  POL    28  20     3    B_0     NaN    NaN
177  POL    28  16     6    D_0     NaN    NaN
178  POL    28  19     2    G_0     NaN    NaN
179  POL    28  14     1    A_0     NaN    1.0
180  IRI    28  17     3    D_0     1.0    NaN)
(29,     Team Rally  No. Space Action  Errors  Score
181  POL    29   20     L   JS_0     1.0    NaN
182  IRI    29  NaN   NaN   OP_0     NaN    1.0)
(30,     Team Rally No. Space Action  Errors  Score
183  IRI    30   1     Y   FS_0     NaN    NaN
184  POL    30  14     4    R_1     NaN    NaN
185  POL    30  18     2    G_1     NaN    NaN
186  POL    30  14     1    A_0     NaN    1.0
187  IRI    30   1     7    D_0     1.0    NaN)
(31,     Team Rally  No. Space Action  Errors  Score
188  POL    31   19     L   FS_0     NaN    NaN
189  IRI    31   22     8    R_0     NaN    NaN
190  IRI    31    8     6    G_0     NaN    NaN
191  IRI    31    2     1    A_0     NaN    NaN
192  POL    31    6     3    B_0     NaN    NaN
193  IRI    31   18     2    D_0     NaN    NaN
194  IRI    31    8     1    D_0     1.0    NaN
195  POL    31  NaN   NaN   OP_0     NaN    1.0)
(32,     Team Rally No. Space Action  Errors  Score
196  POL    32  19     L   FS_0     NaN    NaN
197  IRI    32   1     4    R_1     NaN    NaN
198  IRI    32  18     2    G_1     NaN    NaN
199  IRI    32  17     3    A_0     NaN    1.0
200  POL    32  17     1    D_0     1.0    NaN)
(33,     Team Rally No. Space Action  Errors  Score
201  IRI    33  18     M   FS_0     NaN    NaN
202  POL    33  14     6    R_1     NaN    NaN
203  POL    33  19     2    G_1     NaN    NaN
204  POL    33  14     3    A_0     NaN    1.0
205  IRI    33   5     1    B_0     1.0    NaN)
(34,     Team Rally No. Space Action  Errors  Score
206  POL    34  23     M   JS_0     NaN    NaN
207  IRI    34   8     8    R_0     NaN    NaN
208  IRI    34  17     5    G_0     NaN    NaN
209  IRI    34   2     3    A_0     NaN    NaN
210  POL    34  23     8    D_0     NaN    NaN
211  POL    34  17     4    D_0     NaN    NaN
212  POL    34  15     1    D_0     NaN    NaN
213  IRI    34   2     3    A_0     NaN    NaN
214  POL    34  16     1    B_0     NaN    NaN
215  POL    34  17     4    D_0     NaN    NaN
216  POL    34  19     2    G_0     NaN    NaN
217  POL    34  15     1    A_0     NaN    1.0
218  IRI    34   2     3    B_0     1.0    NaN)
(35,     Team Rally  No. Space Action  Errors  Score
219  POL    35   23     M   JS_0     1.0    NaN
220  IRI    35  NaN   NaN   OP_0     NaN    1.0)
(36,     Team Rally  No. Space Action  Errors  Score
221  IRI    36    2     Y   JS_0     1.0    NaN
222  POL    36  NaN   NaN   OP_0     NaN    1.0)
(37,     Team Rally No. Space Action  Errors  Score
223  POL    37  15     Y   JS_0     NaN    1.0
224  IRI    37   8     8    R_0     1.0    NaN
225  POL    37  15     Y   JS_0     NaN    1.0)
(38,     Team Rally No. Space Action  Errors  Score
226  POL    38  15     Y   JS_0     NaN    NaN
227  IRI    38  18     1    R_0     1.0    NaN
228  POL    38  19     2    D_0     1.0    NaN
229  IRI    38  18     1    R_0     NaN    NaN
230  IRI    38   8     8    G_0     NaN    NaN
231  IRI    38  17     3    A_0     NaN    1.0)
(39,     Team Rally No. Space Action  Errors  Score
232  IRI    39   5     Y   JS_0     NaN    1.0
233  POL    39  17     8    R_0     1.0    NaN
234  IRI    39   5     Y   JS_0     NaN    1.0)
(40,     Team Rally No. Space Action  Errors  Score
235  IRI    40   5     Y   JS_0     NaN    NaN
236  POL    40  17     5    R_0     1.0    NaN
237  IRI    40   1     3    B_0     1.0    NaN
238  POL    40  14     8    R_0     NaN    NaN
239  POL    40  19     5    G_0     NaN    NaN
240  POL    40  16     1    A_0     NaN    1.0)
(41,     Team Rally No. Space Action  Errors  Score
241  POL    41   6     Y   JS_0     NaN    NaN
242  IRI    41   2     8    R_1     NaN    NaN
243  IRI    41   1     8    G_1     NaN    NaN
244  IRI    41  17     3    A_0     NaN    1.0
245  POL    41  17     4    D_0     1.0    NaN)
(42,     Team Rally No. Space Action  Errors  Score
246  IRI    42  17     L   JS_0     NaN    NaN
247  POL    42  16     7    R_1     NaN    NaN
248  POL    42  19     2    G_1     NaN    NaN
249  POL    42  20     2    A_0     NaN    1.0
250  IRI    42   8     7    D_0     1.0    NaN)
(43,     Team Rally  No. Space Action  Errors  Score
251  IRI    43  NaN   NaN   OP_0     NaN    1.0)
(44,     Team Rally No. Space Action  Errors  Score
252  IRI    44  22     Y   JS_0     NaN    NaN
253  POL    44  17     8    R_1     NaN    NaN
254  POL    44  19     2    G_1     NaN    NaN
255  POL    44  16     2    A_0     NaN    1.0
256  IRI    44  22     5    D_0     1.0    NaN)